.counter {
    display: flex;
    width: 10%;
    padding: 20px;
    margin-left: 45%;
    margin-top: 30px;
    --webkit-box-shadow: 0 0 7px lightgrey;
    box-shadow: 0 0 7px lightgrey;
    border-radius: 5px;
}

.counter>button {
    height: 50px;
    width: 60px;
    padding: 10px;
}

.counter-input {
    width: 40px;
    border: none;
    border-top: 1px solid #B71C1C;
    border-bottom: 1px solid #B71C1C;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #B71C1C;
    text-align: center;
    background-color: #FFCDD2;
}

input[type=text]:focus {
    outline: none !important;
}

.dec-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    color: #B71C1C;
    font-weight: bolder;
    background-color: #fff;
    border: 1px solid #B71C1C;
}

.add-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    background-color: #B71C1C;
    color: white;
    font-weight: bolder;
    border: 1px solid #B71C1C;
}

.initial {
    margin-top: 50px;
    margin-left: 39%;
    width: 22%;
    --webkit-box-shadow: 0 0 7px lightgrey;
    box-shadow: 0 0 7px lightgrey;
   padding: 20px;
   border-radius: 5px;
   font-weight: bolder;
    color: #B71C1C;
}

.limit-input {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #B71C1C;
    font-weight: bolder;
    color: #B71C1C;
}

.limit-input:focus{
    outline: none !important;
}